@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter';
}

@layer base {
  body {
    @apply text-foreground;
    overflow: hidden;
  }
  * {
    border-color: rgb(var(--border));
  }
}
