@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter';
  --font-mono: 'DM Mono';
}

@layer base {
  body {
    color: theme('colors.foreground');
  }
  * {
    border-color: rgb(var(--border));
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.custom-scroller::-webkit-scrollbar-track {
	border-radius: 6px;
}

.custom-scroller::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.custom-scroller::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: theme('colors.border');
}

#command-content-container, .extension-main {
  .ui-list-item {
    [data-action-id]:before {
      animation-name: none;
    }

    &:first-of-type [data-action-id]:before {
      right: auto;
      bottom: auto;
      position: fixed;
      animation-name: none;
      transform: translate(-25%, -110%);
    }
  }
}

