{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "@alt-dot/eslint-config/react.js"
  ],
  "globals": {
    "chrome": "readonly"
  },
  "ignorePatterns": ["watch.js", "dist/**"]
}
